<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서상세정보</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>

<body>
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/BookMarket/home" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <svg width="32px" height="32px" viewBox="0 -0.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                    <title>book [#1207]</title>
                    <desc>Created with Sketch.</desc>
                    <defs>

                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-260.000000, -2759.000000)" fill="#000000">
                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                <path d="M222,2612.40709 C222,2612.84565 221.729,2613.23594 221.324,2613.3787 L215,2615.60539 L215,2603.71501 L215,2603.53322 L220.676,2601.53454 C221.325,2601.3055 222,2601.80055 222,2602.50615 L222,2612.40709 Z M213,2603.71501 L213,2615.60539 L206.676,2613.3787 C206.271,2613.23594 206,2612.84565 206,2612.40709 L206,2602.50615 C206,2601.80055 206.675,2601.3055 207.324,2601.53454 L213,2603.53322 L213,2603.71501 Z M221.337,2599.11785 L214.331,2601.64444 C214.117,2601.72147 213.883,2601.72147 213.669,2601.64444 L206.663,2599.11785 C205.362,2598.64847 204,2599.6396 204,2601.05592 L204,2613.11577 C204,2613.997 204.547,2614.78065 205.36,2615.06207 L213.68,2617.94608 C213.888,2618.01797 214.112,2618.01797 214.32,2617.94608 L222.64,2615.06207 C223.453,2614.78065 224,2613.997 224,2613.11577 L224,2601.05592 C224,2599.6396 222.638,2598.64847 221.337,2599.11785 L221.337,2599.11785 Z" id="book-[#1207]">
                                </path>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="fs-4">&nbsp;&nbsp;BookMarket</span>
            </a>
        </header>
        <div class="p-5 mb-4 bg-body-tertiary rounded-3" >
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">도서상세정보</h1>
                <p class="col-md-8 fs-4">BookMarket</p>
            </div>
        </div>
            <form th:object="${book}" action="/BookMarket/books/add" method="post" enctype="multipart/form-data">
                <legend th:text="${addTitle}"></legend>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 아이디</label>
                    <div class="col-sm-3">
                        <input type="text" name="bookID" class="form-control" th:field="*{bookID}"/>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-danger" th:errors="*{bookID}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 이름</label>
                    <div class="col-sm-3">
                        <input type="text" name="name" class="form-control" th:field="*{name}"/>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-danger" th:errors="*{name}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 가격</label>
                    <div class="col-sm-3">
                        <input type="text" name="unitPrice" class="form-control" th:field="*{unitPrice}"/>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-danger" th:errors="*{unitPrice}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 작가</label>
                    <div class="col-sm-3">
                        <input type="text" name="author" class="form-control" th:field="*{author}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 설명</label>
                    <div class="col-sm-3">
                        <textarea name="description" class="form-control" cols="50" rows="2" th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 출판사</label>
                    <div class="col-sm-3">
                        <input type="text" name="publisher" class="form-control" th:field="*{publisher}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 장르</label>
                    <div class="col-sm-3">
                        <input type="text" name="category" class="form-control" th:field="*{category}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 재고량</label>
                    <div class="col-sm-3">
                        <input type="text" name="unitsInStock" class="form-control" th:field="*{unitsInStock}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 출판일</label>
                    <div class="col-sm-3">
                        <input type="text" name="releaseDate" class="form-control" th:field="*{releaseDate}"/>
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서 상태</label>
                    <div class="col-sm-3">
                        <input type="radio" name="condition" value="new"/>new
                        <input type="radio" name="condition" value="old"/>old
                        <input type="radio" name="condition" value="E-book"/>E-book
                    </div>
                </div>
                <div class="mp-3 row">
                    <label class="col-sm-2 control-label">도서이미지</label>
                    <div class="col-sm-7">
                        <input type="file" name="bookImage" class="form-control"/>
                </div>
                </div>
                <div class="mp-3 row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="도서등록"/>
                    </div>
                </div>
            </form>

            </div>
        </div>

        <footer class="pt-3 mt-4 text-body-secondary border-top">
            <span class="text-body-secondary">&copy;2025 BookMarket</span>
        </footer>
    </div>
</main>

<!--<h1>Welcome to the BookMarket</h1>-->
<!--<h3>Welcome to Book Shopping Mall</h3>-->


</body>
</html>